
#title
        {
    position: fixed;
    top: 2%;
    left: 22%;
    width:56%;
    height:20%;
    z-index: 2;
    display: block;
    font-family: Arial;
    overflow: hidden;
}

#header
        {
    position: fixed;
    top: 2%;
    left: 45%;
    width:56%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#comingsoon
 		{
    position: fixed;
    top: 40%;
    left: 40%;
    width:20%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#content
        {
    position: fixed;
    top: 13%;
    left: 22%;
    width:56%;
    height:85%;
    z-index: 2;
    display: block;
    overflow: scroll;
    text-align: justify;
    -moz-text-align-last: justify;
}

#info
        {
    position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height:100%;
    z-index: 4;
    display: block;
    font-size: 10px;
	line-height: 18px;
	font-family: garamond;
	overflow: scroll;
    text-align: justify;
	color: black;
}

#infoimage
        {
    position: fixed;
    top: 13%;
    left: 50%;
    width:30%;
    height:38%;
    z-index: 4;
    display: block;
    font-size: 10px;
	line-height: 18px;
	font-family: garamond;
    text-align: justify;
	color: black;
}

#fadein {
    position: absolute;
    top:0px;
    margin:auto;
    top: 13%;
    left: 22%;
    width:56%;
    height:500px;
	font-size: 10px;
	z-index:5;
	font-family: garamond;
}

iframe {
  	position: fixed;
  	border:0;
    top: 13%;
    left: 45%;
    width:30%;
    height:90%;
    z-index: 4;
    display: block;
    font-size: 10px;
	line-height: 18px;
	font-family: garamond;
	overflow: scroll;
	color: black;
		}
		
.ignore-css{
	all:unset;
	position: static;
}

.iframe2{
	position: relative;
	top: 30%;
    left: 0%;
}

.description {
	font-size: 10px;
	line-height: 20px;
	font-family: garamond;
	color: black;
    text-align: justify;
    -moz-text-align-last: justify;
}
	
.comingsoon {
	font-size: 10px;
	line-height: 30px;
	font-family: garamond;
	text-align: center;
	color: black;
}

.header {
	font-size: 14px;
	line-height: 30px;
	font-family: garamond;
	text-align: left;
	color: black;
	background-color: white;
}

.title {
	font-size: 14px;
	line-height: 30px;
	font-family: garamond;
	text-align: left;
	color: black;
	background-color: white;
}

.content {
	font-size: 10px;
	line-height: 20px;
	font-family: garamond;
	color: black;
    text-align: justify;
    -moz-text-align-last: justify;
}

.info {
	font-size: 10px;
	line-height: 20px;
	font-family: garamond;
	color: black;
	border:0;
	margin: 0;
	-ms-overflow-style: none;
  	scrollbar-width: none;
}

.info::-webkit-scrollbar {
  display: none;
}

.fadein {
    position:absolute;
    top:0px;
    margin:auto;
    top: 13%;
    left: 22%;
    width:56%;
    height:20%;
	font-size: 10px;
	z-index:5;
	font-family: garamond;
}

.caption {
	position:absolute;
    top:0px;
    margin:auto;
    top: 460px;
    left: 0%;
    width:100%;
    height:20%;
	font-size: 10px;
	font-family: garamond;
}

.fadein img {
    position:absolute;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 30s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}

a:link {
 	color: black;
  	background-color: transparent;
  	text-decoration: none;
}

a:visited {
  	color: black;
  	background-color: transparent;
  	text-decoration: none;
}

a:hover {
  	color: green;
  	background-color: transparent;
  	text-decoration: none;
}

a:active {
  	color: black;
  	background-color: transparent;
  	text-decoration: none;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    18% {opacity: 1;}
    33% {opacity: 1;}
    43% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    18% {opacity: 1;}
    33% {opacity: 1;}
    43% {opacity: 0;}
    100% {opacity: 0;}
}


#f1 {
    -webkit-animation-delay: -0s;
}
#f2 {
    -webkit-animation-delay: -7.5s;
}
#f3 {
    -webkit-animation-delay: -15s;
}
#f4 {
    -webkit-animation-delay: -22.5s;
}
