
<style>
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
</style>

/* Hide scrollbar for Chrome, Safari and Opera */
.example
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#indent {
	padding-left:2.5em;
}

#redact {
	font-family: arial, sans-serif;

}

/* Below: bar for Footer
to use, enter 	
<div id="rectangle"></div></br></br>
 */
#rectangle {
margin-top:7px;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  width: 5.5em;
  background: linear-gradient(0.25turn, #990000, #cc6633, #cc9900, #cc9933, #666633, #333399, #333366)
}


body{
	background-color: transparent;
	margin:0;
	-ms-overflow-style: none;
 	scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

a:link {
 	color: black;
  	background-color: transparent;
  	text-decoration: none;
}

a:visited {
  	color: black;
  	background-color: transparent;
  	text-decoration: none;
}

a:hover {
  	color: green;
  	background-color: transparent;
  	text-decoration: none;
}

a:active {
  	color: black;
  	background-color: transparent;
  	text-decoration: none;
}

sup { 
  line-height: 0; 
  font-size: 75%; 
  text-decoration: none;
}

@font-face {
  font-family: 'Junicode-Bold';
  src: url('fonts/Junicode-Bold.woff') format('woff');
  font-family: 'Junicode-BoldItalic';
  src: url('Junicode-BoldItalic.woff') format('woff');
  font-family: 'Junicode-Italic';
  src: url('Junicode-Italic.woff') format('woff');
  font-family: 'Junicode';
  src: url('fonts/Junicode.woff') format('woff');
    font-family: 'Junicode';
  src: url('fonts/Junicode.ttf') format('truetype');

}



/* **************. BELOW IS FOR DESKTOP  *************** */

/* All # items below create ids */


#title
        {
    position: fixed;
    top: 2%;
    left: 21%;
    width:56%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
    font-family: Junicode;
}

#header_exhibitions
        {
    position: fixed;
    top: 2%;
    left: 43%;
    width:56%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#header_artists
        {
    position: fixed;
    top: 2%;
    left: 61%;
    width:56%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#header_info
        {
    position: fixed;
    top: 2%;
    right: 21%;
    width:2em;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#comingsoon
 		{
    position: fixed;
    top: 40%;
    left: 40%;
    width:20%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}


#content {
    padding-left: 21%;
    padding-right: 21.5%;
    margin:0px;
} 

.content{
	top: 9%;
    height:91%;
    z-index: 2;
    display: block;
    overflow: scroll;

	font-size: 13px;
	line-height: 20px;
	font-family: 'Newsreader', serif;
	color: black;
    text-align: justify;
    -moz-text-align-last: justify;
    position: fixed;
      		-webkit-mask-image: linear-gradient(transparent, black 3%);
  			mask-image: linear-gradient (transparent, black 3%);
}

#footer { 
   position: sticky;

    background-color: #F8F8F8;
    width: 100%;
    height: 6rem;
    z-index: 10;
    padding-top: 0%;
    padding-left: 0%;
    margin-left: 0px;
    left:0px;
    text-align: left;
    overflow-x: hidden;
    box-shadow: 0px -5px 8px 10px white;
	background-color: white;
}

#footer1
        {
    left: 13%;
    position: absolute;
    overflow: hidden;
}

#footer2
        {
    left: 46.5%;
    position: absolute;
    overflow-x: hidden;
}

#footer3
        {
    right: 13%;
    position: absolute;
    overflow-x: hidden;
}






/* #content1 id is used for text in iframe on Artists page */

#content1 
        {
    position: fixed;
    font-size: 13px;
    line-height: 20px;
	font-family: 'Newsreader', serif;
    top: 12%;
    left: 21%;
    width:56%;
    height:88%;
    z-index: 2;
    display: block;
    overflow: scroll;
    text-align: justify;
    -moz-text-align-last: justify;
}

#info
        {
    position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height:100%;
    z-index: 4;
    display: block;
	line-height: 18px;
	font-family: 'Newsreader', serif;
	font-style: normal;
	overflow: scroll;
    text-align: justify;
	color: black;
}

#infoimage
        {
    position: fixed;
    top: 13%;
    left: 50%;
    width:30%;
    height:38%;
    z-index: 4;
    display: block;
    font-size: 10px;
	line-height: 18px;
	font-family: 'Newsreader', serif;
    text-align: justify;
	color: black;
}

#fadein {
    position: absolute;
    top:0px;
    margin:auto;
    top: 13%;
    left: 22%;
    width:56%;
    height:500px;
	font-size: 10px;
	z-index:5;
	font-family: 'Newsreader', serif;
  font-stretch: 90%;
}

iframe {
  	position: fixed;
  	border:0;
    top: 15.25%;
	left: 43%;
	width:35%;
    height:90%;
    z-index: 4;
    display: block;
    font-size: 11px;
	line-height: 18px;
	font-family: 'Newsreader', serif;
	overflow: scroll;
	color: black;
		     -webkit-mask-image: linear-gradient(transparent, black 2%);
  			mask-image: linear-gradient (transparent, black 2%);
		}


/* All . items below create classes */

.ignore-css{
	all:unset;
	position: static;
}

.iframe2{
	position: relative;
	top: 30%;
    left: 0%;
}

.description {
	font-size: 11px;
	line-height: 20px;
	font-family: 'Newsreader', serif;
	color: black;
    text-align: justify;
    -moz-text-align-last: justify;
}
	
.comingsoon {
	font-size: 10px;
	line-height: 30px;
	font-family: 'Newsreader', serif;
	text-align: center;
	color: black;
}


.header {
	font-size: 18px;
	line-height: 30px;
	font-family: 'Junicode', serif;
	text-align: left;
	color: black;
	/* background-color: white; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
    display: none;
}


*/

/* Below .content1 class describes text in iframe */

.content1 {
  font-size: 13px;
  line-height: 20px;
  font-family: 'Newsreader', serif;
  font-stretch: 100%;
  color: black;
    text-align: justify;
    -moz-text-align-last: justify;
}



.info {
	font-size: 13px;
	line-height: 20px;
	font-family: 'Newsreader', serif;
  	font-stretch: 100%;
	color: black;
	border:0;
	margin: 0;
	-ms-overflow-style: none;
  	scrollbar-width: none;
}

.info::-webkit-scrollbar {
  display: none;
}

.fadein {
    position:absolute;
    top:0px;
    margin:auto;
    top: 13%;
    left: 22%;
    width:56%;
    height:20%;
	font-size: 10px;
	z-index:5;
	font-family: 'Newsreader', serif;
  font-stretch: 100%;
}

.caption {
	font-size: 11px;
    position:absolute;
    top:0px;
    margin:auto;
    top: 460px;
    left: 0%;
    width:100%;
    height:20%;
	font-family: 'Newsreader', serif;
  font-stretch: 100%;
}


 /* On screens that are  430-750px wide and more than 500px tall */
		@media screen and (max-width: 750px) and (min-height: 500px) {

				#title
				        {
				    position: fixed;
				    top: 2%;
				    left: 10%;
				    width:80%;
				    height:20%;
				    z-index: 2;
				    display: block;
				    overflow: hidden;
				}

		#header_exhibitions
		        {
		    position: fixed;
		    top: 2%;
		    left: 42%;
		    width:56%;
		    height:20%;
		    z-index: 2;
		    display: block;
		    overflow: hidden;
		}

		#header_artists
		        {
		    position: fixed;
		    top: 2%;
		    left: 65.5%;
		    width:56%;
		    height:20%;
		    z-index: 2;
		    display: block;
		    overflow: hidden;
		}

		#header_info
		        {
		    position: fixed;
		    text-justify: right;
		    top: 2%;
			right:10%;
		    height:20%;
		    z-index: 2;
		    display: block;
		    overflow: hidden;
		}

				#comingsoon
				 		{
				    position: fixed;
				    top: 40%;
				    left: 40%;
				    width:20%;
				    height:20%;
				    z-index: 2;
				    display: block;
				    overflow: hidden;
				}

				#content {
				    padding-left: 10%;
				    padding-right: 10%;
				    margin: 0px;
				} 

				#footer1
		        {
				    left: 10%;
				    position: absolute;
				    overflow: hidden;
				}

				#footer2
				        {
				    left: 48%;
				    position: absolute;
				    overflow-x: hidden;
				}

				#footer3
				        {

		    		right: 10.25%;
				    position: absolute;
				    overflow-x: hidden;
				}

				/* #content1 id is used for text in iframe on Artists page */

				#content1 
				        {
				    position: fixed;
				    top: 11%;
				    left: 10%;
				    width:90%;
				    height:89%;
				    z-index: 2;
				    display: block;
				    overflow: scroll;
				    text-align: justify;
				    -moz-text-align-last: justify;
				}

				#info
				        {
				    position: absolute;
				    top: 0%;
				    left: 0%;
				    width:100%;
				    height:100%;
				    z-index: 4;
				    display: block;
					line-height: 18px;
					font-family: 'Newsreader', serif;
					overflow: scroll;
				    text-align: justify;
					color: black;
				}

				#infoimage
				        {
				    position: fixed;
				    top: 13%;
				    left: 50%;
				    width:30%;
				    height:38%;
				    z-index: 4;
				    display: block;
				    font-size: 10px;
					line-height: 18px;
					font-family: 'Newsreader', serif;
				  	font-stretch: 90%;
				    text-align: justify;
					color: black;
				}

				#fadein {
				    position: absolute;
				    top:0px;
				    margin:auto;
				    top: 13%;
				    left: 22%;
				    width:56%;
				    height:500px;
					font-size: 10px;
					z-index:5;
					font-family: 'Newsreader', serif;
				  font-stretch: 90%;
				}

				iframe {
				  	position: fixed;
				  	border:0;
				    top: 14%;
				    left: 40%;
				    width: 50%;
				    height: 90%;
				    z-index: 4;
				    display: block;
				    font-size: 11px;
					line-height: 18px;
					font-family: 'Newsreader', serif;
					overflow: scroll;
					color: black;
						}


				/* All . items below create classes MORE GENERIC */

				.ignore-css{
					all:unset;
					position: static;
				}

				.iframe2{
					position: relative;
					top: 30%;
				    left: 0%;
				}

				.description {
					font-size: 11px;
					line-height: 20px;
					font-family: 'Newsreader', serif;
				  font-stretch: 100%;
					color: black;
				    text-align: justify;
				    -moz-text-align-last: justify;
				}
					
				.comingsoon {
					font-size: 10px;
					line-height: 30px;
					font-family: 'Newsreader', serif;
				  font-stretch: 100%;
					text-align: center;
					color: black;
				}




				/* Below .content1 class describes text in iframe */

				.content1 {
				  font-size: 13px;
				  line-height: 20px;
				  font-family: 'Newsreader', serif;
				  font-stretch: 100%;
				  color: black;
				  text-align: justify;
				 -moz-text-align-last: justify;
				}

				.info {
					font-size: 13px;
					line-height: 20px;
					font-family: 'Newsreader', serif;
				  	font-stretch: 100%;
					color: black;
					border:0;
					margin: 0;
					-ms-overflow-style: none;
				  	scrollbar-width: none;
				}

				.info::-webkit-scrollbar {
				  display: none;
				}

				.fadein {
				    position:absolute;
				    top:0px;
				    margin:auto;
				    top: 13%;
				    left: 22%;
				    width:56%;
				    height:20%;
					font-size: 10px;
					z-index:5;
					font-family: 'Newsreader', serif;
				  font-stretch: 100%;
				}

				.caption {
					font-size: 11px;
				    position:absolute;
				    top:0px;
				    margin:auto;
				    top: 460px;
				    left: 0%;
				    width:100%;
				    height:20%;
					font-family: 'Newsreader', serif;
				  font-stretch: 100%;
				}		


		}


/* On screens that are more than 750px wide and less than 500px tall */

@media screen and (min-width: 750px) and (max-height: 500px) {

#title
        {
    position: fixed;
    top: 0%;
    left: 21%;
    width:56%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#header_exhibitions
        {
    position: fixed;
    top: 0%;
    left: 43%;
    width:56%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#header_artists
        {
    position: fixed;
    top: 0%;
    width:56%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#header_info
        {
    position: fixed;
    text-justify: right;
    top: 0%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#comingsoon
 		{
    position: fixed;
    top: 40%;
    left: 40%;
    width:20%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#content {
    padding-left: 21%;
    padding-right: 21%;
    margin:0px;
} 

.content {
	top: 14%;
   	height: 86%;
}

/* #content1 id is used for text in iframe on Artists page */

#content1 
        {
    position: fixed;
    top: 15%;
    width:56%;
    height:88%;
    z-index: 2;
    display: block;
    overflow: scroll;
    text-align: justify;
    -moz-text-align-last: justify;
}

#info
        {
    position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height:100%;
    z-index: 4;
    display: block;
	line-height: 18px;
	font-family: 'Newsreader', serif;
  font-stretch: 90%;
	overflow: scroll;
    text-align: justify;
	color: black;
}

#infoimage
        {
    position: fixed;
    top: 13%;
    left: 50%;
    width:30%;
    height:38%;
    z-index: 4;
    display: block;
    font-size: 10px;
	line-height: 18px;
	font-family: 'Newsreader', serif;
  	font-stretch: 90%;
    text-align: justify;
	color: black;
}

#fadein {
    position: absolute;
    top:0px;
    margin:auto;
    top: 13%;
    left: 22%;
    width:56%;
    height:500px;
	font-size: 10px;
	z-index:5;
	font-family: 'Newsreader', serif;
  font-stretch: 90%;
}

iframe {
  	position: fixed;
  	border:0;
    top: 20%;
    left: 43%;
    width:35%;
    height:90%;
    z-index: 4;
    display: block;
    font-size: 13px;
	line-height: 18px;
	font-family: 'Newsreader', serif;
	overflow: scroll;
	color: black;
		}


/* All . items below create classes */

.ignore-css{
	all:unset;
	position: static;
}

.iframe2{
	position: relative;
	top: 30%;
    left: 0%;
}

.description {
	font-size: 11px;
	line-height: 20px;
	font-family: 'Newsreader', serif;
  font-stretch: 100%;
	color: black;
    text-align: justify;
    -moz-text-align-last: justify;
}
	
.comingsoon {
	font-size: 10px;
	line-height: 30px;
	font-family: 'Newsreader', serif;
  font-stretch: 100%;
	text-align: center;
	color: black;
}



/* Below .content1 class describes text in iframe */

.content1 {
  font-size: 13px;
  line-height: 20px;
  font-family: 'Newsreader', serif;
  font-stretch: 100%;
  color: black;
    text-align: justify;
    -moz-text-align-last: justify;
}



.info {
	font-size: 13px;
	line-height: 20px;
	font-family: 'Newsreader', serif;
  font-stretch: 100%;
	color: black;
	border:0;
	margin: 0;
	-ms-overflow-style: none;
  	scrollbar-width: none;
}

.info::-webkit-scrollbar {
  display: none;
}

.fadein {
    position:absolute;
    top:0px;
    margin:auto;
    top: 13%;
    left: 22%;
    width:56%;
    height:20%;
	font-size: 10px;
	z-index:5;
	font-family: 'Newsreader', serif;
  font-stretch: 100%;
}

.caption {
	font-size: 11px;
    position:absolute;
    top:0px;
    margin:auto;
    top: 460px;
    left: 0%;
    width:100%;
    height:20%;
	font-family: 'Newsreader', serif;
  font-stretch: 100%;
}


}

/* On screens that are less than 750px wide and less than 500px tall */
@media screen and (max-width: 750px) and (max-height: 500px) {

		#title
		        {
		    position: fixed;
		    top: 0%;
		    left: 10%;
		    width:80%;
		    height:20%;
		    z-index: 2;
		    display: block;
		    overflow: hidden;
		}

		#header_exhibitions
		        {
		    position: fixed;
		    top: 0%;
		    left: 42%;
		    width:56%;
		    height:20%;
		    z-index: 2;
		    display: block;
		    overflow: hidden;
		}

		#header_artists
		        {
		    position: fixed;
		    top: 0%;
		    left: 65.5%;
		    width:56%;
		    height:20%;
		    z-index: 2;
		    display: block;
		    overflow: hidden;
		}

		#header_info
		        {
		    position: fixed;
		    text-justify: right;
		    top: 0%;
			right:10%;
		    height:20%;
		    z-index: 2;
		    display: block;
		    overflow: hidden;
		}


		#content {
		    padding-left: 10%;
		    padding-right: 10%;
		    margin: 0px;
		} 

		.content {
			top: 14%;
		   	height: 86%;

		}

		#footer1
        {
		    left: 10%;
		    position: absolute;
		    overflow: hidden;
		}

		#footer2
		        {
		    left: 48%;
		    position: absolute;
		    overflow-x: hidden;
		}

		#footer3
		        {
		    right: 10.25%;
		    position: absolute;
		    overflow-x: hidden;
		}

		/* #content1 id is used for text in iframe on Artists page */

		#content1 
		        {
		    position: fixed;
		    top: 10%;
		    left: 10%;
		    width:80%;
		    height:89%;
		    z-index: 2;
		    display: block;
		    overflow: scroll;
		    text-align: justify;
		    -moz-text-align-last: justify;
		}

		#info
		        {
		    position: absolute;
		    top: 0%;
		    left: 0%;
		    width:100%;
		    height:100%;
		    z-index: 4;
		    display: block;
			line-height: 18px;
			font-family: 'Newsreader', serif;
		  	font-stretch: 90%;
			overflow: scroll;
		    text-align: justify;
			color: black;
		}

		#infoimage
		        {
		    position: fixed;
		    top: 13%;
		    left: 50%;
		    width:30%;
		    height:38%;
		    z-index: 4;
		    display: block;
		    font-size: 10px;
			line-height: 18px;
			font-family: 'Newsreader', serif;
		  	font-stretch: 90%;
		    text-align: justify;
			color: black;
		}

		#fadein {
		    position: absolute;
		    top:0px;
		    margin:auto;
		    top: 13%;
		    left: 22%;
		    width:56%;
		    height:500px;
			font-size: 10px;
			z-index:5;
			font-family: 'Newsreader', serif;
		  font-stretch: 90%;
		}

		iframe {
		  	position: fixed;
		  	border:0;
		    top: 18%;
		    left: 40%;
		    width: 50%;
		    height: 90%;
		    z-index: 4;
		    display: block;
		    font-size: 11px;
			line-height: 18px;
			font-family: 'Newsreader', serif;
			overflow: scroll;
			color: black;
				}


		/* All . items below create classes MORE GENERIC */

		.ignore-css{
			all:unset;
			position: static;
		}

		.iframe2{
			position: relative;
			top: 30%;
		    left: 0%;
		}

		.description {
			font-size: 11px;
			line-height: 20px;
			font-family: 'Newsreader', serif;
		  font-stretch: 100%;
			color: black;
		    text-align: justify;
		    -moz-text-align-last: justify;
		}
			
		.comingsoon {
			font-size: 10px;
			line-height: 30px;
			font-family: 'Newsreader', serif;
		  font-stretch: 100%;
			text-align: center;
			color: black;
		}



		/* Below .content1 class describes text in iframe */

		.content1 {
		  font-size: 13px;
		  line-height: 20px;
		  font-family: 'Newsreader', serif;
		  font-stretch: 100%;
		  color: black;
		  text-align: justify;
		 -moz-text-align-last: justify;
		}

		.info {
			font-size: 13px;
			line-height: 20px;
			font-family: 'Newsreader', serif;
		  	font-stretch: 100%;
			color: black;
			border:0;
			margin: 0;
			-ms-overflow-style: none;
		  	scrollbar-width: none;
		}

		.info::-webkit-scrollbar {
		  display: none;
		}

		.fadein {
		    position:absolute;
		    top:0px;
		    margin:auto;
		    top: 13%;
		    left: 22%;
		    width:56%;
		    height:20%;
			font-size: 10px;
			z-index:5;
			font-family: 'Newsreader', serif;
		  font-stretch: 100%;
		}

		.caption {
			font-size: 11px;
		    position:absolute;
		    top:0px;
		    margin:auto;
		    top: 460px;
		    left: 0%;
		    width:100%;
		    height:20%;
			font-family: 'Newsreader', serif;
		  font-stretch: 100%;
		}		


}



				/* On MOBILE screens 430px wide or less and more than 500px tall */ 
						@media screen and (max-width: 430px) and (min-height: 500px) {

								#title
								        {
								    position: fixed;
								    text-align: center;
								    top: 0%;
								    z-index: 2;
								    display: block;
								    overflow: hidden;
								}

								#header_exhibitions
								        {
								    position: fixed;
								    top: 5%;
								    left: 10%;
								    width:56%;
								    height:20%;
								    z-index: 2;
								    display: block;
								    overflow: hidden;
								}

								#header_artists
								        {
								    position: fixed;
								    top: 5%;
								    left: 50%;
								    width:56%;
								    height:20%;
								    z-index: 2;
								    display: block;
								    overflow: hidden;
								}

								#header_info
								        {
								    position: fixed;
								    text-justify: right;
								    top: 5%;
								    right: 10%;
								    height:20%;
								    z-index: 2;
								    display: block;
								    overflow: hidden;
								}

								#comingsoon
								 		{
								    position: fixed;
								    top: 40%;
								    left: 40%;
								    width:20%;
								    height:20%;
								    z-index: 2;
								    display: block;
								    overflow: hidden;
								}


								#content {
								    padding-left: 10%;
								    padding-right: 10%;
								} 

								.content {
									top: 14%;
								   	height: 86%;
								}

								#footer1
						        {
								    left: 10%;
								    position: absolute;
								    overflow: hidden;
								}

								#footer2
								        {
								    left: 47%;
								    position: absolute;
								    overflow: hidden;
								}

								#footer3
								        {
								    right: 10.25%;
								    position: absolute;
								    overflow: hidden;
								}

								/* #content1 id is used for text in iframe on Artists page */

								#content1 
								        {
								    position: fixed;
								    top: 10%;
								    left: 10%;
								    width:80%;
								    height:89%;
								    z-index: 2;
								    display: block;
								    overflow: scroll;
								    text-align: justify;
								    -moz-text-align-last: justify;
								}

								#info
								        {
								    position: absolute;
								    top: 0%;
								    left: 0%;
								    width:100%;
								    height:100%;
								    z-index: 4;
								    display: block;
									line-height: 18px;
									font-family: 'Newsreader', serif;
								  	font-stretch: 90%;
									overflow: scroll;
								    text-align: justify;
									color: black;
								}

								#infoimage
								        {
								    position: fixed;
								    top: 13%;
								    left: 50%;
								    width:30%;
								    height:38%;
								    z-index: 4;
								    display: block;
								    font-size: 10px;
									line-height: 18px;
									font-family: 'Newsreader', serif;
								  	font-stretch: 90%;
								    text-align: justify;
									color: black;
								}

								#fadein {
								    position: absolute;
								    top:0px;
								    margin:auto;
								    top: 13%;
								    left: 22%;
								    width:56%;
								    height:500px;
									font-size: 10px;
									z-index:5;
									font-family: 'Newsreader', serif;
								  font-stretch: 90%;
								}

								iframe {
								  	position: fixed;
								  	border:0;
								    top: 13%;
								    left: 43%;
								    width: 45%;
								    height:90%;
								    z-index: 4;
								    display: block;
								    font-size: 11px;
									line-height: 18px;
									font-family: 'Newsreader', serif;
									overflow: scroll;
									color: black;
										}


								/* All . items below create classes MORE GENERIC */

								.ignore-css{
									all:unset;
									position: static;
								}

								.iframe2{
									position: relative;
									top: 30%;
								    left: 0%;
								}

								.description {
									font-size: 11px;
									line-height: 20px;
									font-family: 'Newsreader', serif;
								  font-stretch: 100%;
									color: black;
								    text-align: justify;
								    -moz-text-align-last: justify;
								}
									
								.comingsoon {
									font-size: 10px;
									line-height: 30px;
									font-family: 'Newsreader', serif;
								  font-stretch: 100%;
									text-align: center;
									color: black;
								}


								/* Hide scrollbar for Chrome, Safari and Opera */
								.content::-webkit-scrollbar {
					    			display: none;
								}

								/* Below .content1 class describes text in iframe */

								.content1 {
								  font-size: 13px;
								  line-height: 20px;
								  font-family: 'Newsreader', serif;
								  font-stretch: 100%;
								  color: black;
								  text-align: justify;
								 -moz-text-align-last: justify;
								}

								.info {
									font-size: 13px;
									line-height: 20px;
									font-family: 'Newsreader', serif;
								  	font-stretch: 100%;
									color: black;
									border:0;
									margin: 0;
									-ms-overflow-style: none;
								  	scrollbar-width: none;
								}

								.info::-webkit-scrollbar {
								  display: none;
								}

								.fadein {
								    position:absolute;
								    top:0px;
								    margin:auto;
								    top: 13%;
								    left: 22%;
								    width:56%;
								    height:20%;
									font-size: 10px;
									z-index:5;
									font-family: 'Newsreader', serif;
								  font-stretch: 100%;
								}

								.caption {
									font-size: 11px;
								    position:absolute;
								    top:0px;
								    margin:auto;
								    top: 460px;
								    left: 0%;
								    width:100%;
								    height:20%;
									font-family: 'Newsreader', serif;
								  font-stretch: 100%;
								}		


						}


/* **************. BELOW IS FOR ALL FORMATS  *************** */


/*
.fadein img {
    position:absolute;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 30s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}
*/


/*

@-webkit-keyframes fade {
    0% {opacity: 0;}
    18% {opacity: 1;}
    33% {opacity: 1;}
    43% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    18% {opacity: 1;}
    33% {opacity: 1;}
    43% {opacity: 0;}
    100% {opacity: 0;}
}


#f1 {
    -webkit-animation-delay: -0s;
}
#f2 {
    -webkit-animation-delay: -7.5s;
}
#f3 {
    -webkit-animation-delay: -15s;
}
#f4 {
    -webkit-animation-delay: -22.5s;
}

*/
