#title
        {
    position: fixed;
    top: 2%;
    left: 22%;
    width:56%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#header
        {
    position: fixed;
    top: 2%;
    left: 45%;
    width:56%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#comingsoon
 		{
    position: fixed;
    top: 40%;
    left: 40%;
    width:20%;
    height:20%;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#content
        {
    position: absolute;
    top: 13%;
    left: 22%;
    width:56%;
    height:76%;
    z-index: 1;
    display: block;
    text-align: justify;
    -moz-text-align-last: justify;
}

#info
        {
    position: absolute;
    top: 13%;
    left: 45%;
    width:30%;
    height:38%;
    z-index: 1;
    display: block;
    font-size: 10px;
	line-height: 18px;
	font-family: garamond;
	color: black;
}

#fadein {
    position:absolute;
    top:0px;
    margin:auto;
    top: 13%;
    left: 22%;
    width:56%;
    height:500px;
	font-size: 10px;
	font-family: garamond;
}

iframe {
  			width:100%;
  			height:100%;
  			border:0;
		}

.description {
	font-size: 10px;
	line-height: 20px;
	font-family: garamond;
	color: black;
    text-align: justify;
    -moz-text-align-last: justify;
}
	
.comingsoon {
	font-size: 10px;
	line-height: 30px;
	font-family: garamond;
	text-align: center;
	color: black;
}

.header {
	font-size: 14px;
	line-height: 30px;
	font-family: garamond;
	text-align: left;
	color: black;
}

.title {
	font-size: 14px;
	line-height: 30px;
	font-family: garamond;
	text-align: left;
	color: black;
}

.content {
	font-size: 10px;
	line-height: 20px;
	font-family: garamond;
	color: black;
    text-align: justify;
    -moz-text-align-last: justify;
}

.info {
	font-size: 10px;
	line-height: 20px;
	font-family: garamond;
	color: black;
	border:0;
	margin: 0;
}

.fadein {
    position:absolute;
    top:0px;
    margin:auto;
    top: 13%;
    left: 22%;
    width:56%;
    height:20%;
	font-size: 10px;
	font-family: garamond;
}

.caption {
	position:absolute;
	top: 100%;
}

.fadein img {
    position:absolute;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

a:link {
 	color: black;
  	background-color: transparent;
  	text-decoration: none;
}

a:visited {
  	color: black;
  	background-color: transparent;
  	text-decoration: none;
}

a:hover {
  	color: green;
  	background-color: transparent;
  	text-decoration: none;
}

a:active {
  	color: black;
  	background-color: transparent;
  	text-decoration: none;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}


#f1 {
    -webkit-animation-delay: 0s;
}
#f2 {
    -webkit-animation-delay: -2s;
}
#f3 {
    -webkit-animation-delay: -4s;
}
#f4 {
    -webkit-animation-delay: -6s;
}
#f5 {
    -webkit-animation-delay: -8s;
}
